<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study</title>
</head>

<body>
    <app-navbar></app-navbar>
    <h1 class="text-4xl font-display text-primary ml-12 mt-12 font-bold">{{cardList[0]?.subject}}</h1>



    <div class="flex h-1/2 ml-12 mt-8 gap-8">
        <button class="bg-gray-300 h-32 w-52 rounded-lg">Test</button>
        <button class="bg-gray-300 h-32 w-52 rounded-lg">Learn</button>
        <button class="bg-gray-300 h-32 w-52 rounded-lg">Match</button>
    </div>


    <div (click)="toggleFlip()">
        <div class="card h-64 w-3/4 mt-12 ml-12 text-center" [@flipState]="flip">
            <!-- Front (Question) -->
            <div class="card-face front bg-card p-8 rounded-lg">
                <p class="text-center font-bold">{{ cardList[currentCardIndex]?.term }}</p>
            </div>
            <!-- Back (Answer) -->
            <div class="card-face back bg-sub_card p-8 rounded-lg">
                <p class="text-center font-bold">{{ cardList[currentCardIndex]?.definition }}</p>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-center gap-24 mt-6 ml-12 text-xl w-3/4">
        <div>
            <button (click)="previousCard()"
                class="bg-gray-400 rounded-full p-4 flex justify-center items-center hover:opacity-80">
                <i class="fa-solid fa-arrow-left text-primary hover:text-secondary"></i>
            </button>
        </div>
        <div>
            <button (click)="nextCard()"
                class="bg-gray-400 rounded-full p-4 flex justify-center items-center hover:opacity-80">
                <i class="fa-solid fa-arrow-right text-primary hover:text-secondary"></i>
            </button>
        </div>
    </div>

</body>

</html>